.main-description {
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    color: #fff;
    margin-top: 50px;
    margin-left: 80px;
    margin-right: 80px;
}

.main-description.-agradecimento {
    font-size: 30px;
    font-family: 'Press Start 2P', sans-serif;
    color: #fff;
    text-shadow: 4px 4px 0px #000;
}